<template>

<div>
  <div class="form-check form-switch" style="margin-left: 15px;">
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="" v-on:click="manageChannel" v-class="{active: isActiveChannel}">
                      <label class="form-check-label" for="flexSwitchCheckChecked">Live preview</label>
                    </div>
  <div class="page-line-chart">
    <apexchart
      ref="realtimeChart"
      type="line"
      height="350"
      :options="chartOptions"
      :series="series"
    ></apexchart>
  </div>

  </div>
</template>
<script>
import * as commonData from "@/common.js";
import VueApexCharts from "vue-apexcharts";

export default {
  name: "app",
  components: {
    VueApexCharts,
  },
  data() {
    return {
      series: [
        {
          name: "Desktops",
          data: [],
        },
      ],
      chartOptions: {},
      xaxis: [],
      isActiveChannel: true
    };
  },
  methods: {
    getInitialData() {
      var csrfToken = $('meta[name="csrf-token"]').attr("content");
      fetch(commonData.apiUrls.view, {
        method: "GET",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
          "X-CSRFToken": csrfToken,
        },
      })
        .then((response) => response.json())
        .then((data) => {
          this.series = data.dataset;
          this.chartOptions = {
            chart: {
              height: 500,
              type: "line",
                    stroke: {
          curve: 'smooth'
        },
                        animations: {
            enabled: true,
            easing: 'linear',
            dynamicAnimation: {
              speed: 1000
            }
          },
              zoom: {
                enabled: false,
              },
            },
            dataLabels: {
              enabled: false,
            },
            stroke: {
              curve: "straight",
            },
            title: {
              text: "Crypto price changes",
              align: "left",
            },
            grid: {
              row: {
                colors: ["#f3f3f3", "transparent"], // takes an array which will be repeated on columns
                opacity: 0.5,
              },
            },
            xaxis: {
              categories: data.dates,
            },
          };
          this.xaxis = data.dates;
          this.initialSocket();
        });
    },
    initialSocket() {
      var copiedSeries = this.series;
      var copiedXaxis = this.xaxis;
      var realtimeChart = this.$refs.realtimeChart;
      this.connection.onmessage = function (event) {
        var jsonData = JSON.parse(event.data);
        jsonData.crypto_data.forEach(function(item){
            for (var i = 0; i < copiedSeries.length; ++i) {
              if (copiedSeries[i].name ==   item.crypto + "|bid") {
                var keepData = copiedSeries[i].data;
                keepData.push(item.bid);
                copiedSeries[i].data = keepData;
                realtimeChart.updateSeries(copiedSeries, false, true);
              }
              if (copiedSeries[i].name == item.crypto + "|ask") {
                var keepData = copiedSeries[i].data;
                keepData.push(item.ask);
                copiedSeries[i].data = keepData;
                realtimeChart.updateSeries(copiedSeries, false, true);
              }
              copiedXaxis.push(item.datetime);
              realtimeChart.updateOptions({
                xaxis: {
                  categories: copiedXaxis,
                },
              });
            }
        });
      };
      this.connection.onopen = function (event) {
        console.log("Successfully connected to the echo websocket server...");
      };
      this.connection.onclose = function (e) {
        console.error("Chat socket closed unexpectedly");
      };
    },
    reOpenConnection: function() {
        this.connection = new WebSocket("ws://" + window.location.host + "/ws/crypto-quotes/");
        this.initialSocket();
    },
   manageChannel: function() {
      this.isActiveChannel = !this.isActiveChannel;
      if (this.isActiveChannel) {
        this.reOpenConnection();
      }
      else {
        this.connection.close();
      }
    }
  },
  mounted() {
    this.getInitialData();
  },
  created: function () {
  this.connection = new WebSocket("ws://" + window.location.host + "/ws/crypto-quotes/")
  },
};
</script>
