{% extends "generics/dashboard_template.html" %}
{% load static %}

{% block dashboard_content %}

<div class="" style="padding: 20px; margin-top: 50px;">
    <div id="chartUE"></div>

    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Price Changes</h5>
                    {% if arbitrages %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Datetime</th>
                            <th scope="col">Tracker</th>
                            <th scope="col">Bid diff</th>
                            <th scope="col">Ask diff</th>
                            <th scope="col">Potential profit</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for arbitrage in arbitrages %}
                        <tr>
                            <th scope="row"> {{ arbitrage.datetime|date:"d H:m:s" }}</th>
                            <td> {{ arbitrage.tracker }}</td>
                            <td> {{ arbitrage.bid_diff|floatformat }}</td>
                            <td> {{ arbitrage.ask_diff|floatformat }}</td>
                            <td> {{ arbitrage.potential_profit|floatformat }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>

                    </div>
                    {% else %}
                    <h6> no available data </h6>
                    {% endif %}
                    <!-- End Table with stripped rows -->
                </div>
            </div>

        </div>


        <script src="{% static 'chart/main.js' %}"></script>
    </div>
</div>

{% endblock %}